.navtop
{
	background-color: #D8D8D8;
	border: 0;
	height: 20px !important;
	font-size:10pt;
}
.navtop  .navbar-nav > li > a{color:#696969;}
.navtop  .navbar-nav > li > a:hover{color:black;}

.navmenu
{
	background: transparent;
	border: 0;
	margin-top: 50px;
}
.contmenu
{
	background: black;
	height: 70px;
}
.navmenu  .navbar-nav > li > a{margin-top: 10px;}
.headsm
{
	margin-bottom: 100px;
}
.nekatoph
{
	text-align: center;
	margin-top: 80px;
	font-size: 18pt;
}
.nekatophs
{
	font-size: 10pt;
	margin-bottom: 100px;
}
.cart-box
{
	background-color: #696969;
	height: 500px;
	margin-bottom: 120px;
}
.titlecat
{
	margin-top: 150px;
}
.footer-link
{
	padding: 0pt;
    list-style-type: none;
}
.socicon
{
	text-align: ce;
}
ul#socicon li
{
	display: inline;
	padding: 12pt;
}
ul#socicon li a i
{
	margin-top: 80px;
	background-color: transparent;
}
.ccicon
{
	text-align: right;	
}
.imgcnct
{
	margin-bottom: 60px;
	padding: 0pt;
	position: relative;
	top: 9px;
}
.txtcnct
{
	position: relative;
	bottom: 15px;
	left: 7px;
}
.twitter
{
	margin-bottom: 60px;
	padding: 5pt;
	position: relative;
	bottom: 15px;
}
.srcbtn
{
	background-color: #1E1E1E;
	color: #FFFFFF;
	text-align: center;
	width: 150px;
	margin-bottom: 100px;
}
.overview-txt
{
	margin-left: -15px
}
.ovfont1
{
	font-size: 8pt;
}
.ovfont2
{
	font-size: 8pt;
}
.ovfont3
{
	margin-top: 100px;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
}
.ovfont4
{
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
}
.book-btn
{
	padding: 7pt;
	padding-left: 30pt;
	padding-right: 30pt;
	font-size: 12pt;
	text-align: center;
	background-color: #FFD400;
	color: #FFFFFF;
	position: relative;
	top: 110px;
	left: 180px;
}
.inchead
{
	text-align: center;
	margin-top: 150px;
	font-size: 18pt;
}
.inctxt
{
	font-size: 10pt;
	margin-bottom: 50px;
}
.incicon
{
	font-size: 13pt;
	text-align: center;
}
.incdesc1
{
	font-size: 11pt;
	text-align: center;
	position: relative;
	left: 58px;
	bottom: 20px;
	margin-bottom: 200px;
}
.incdesc2
{
	font-size: 11pt;
	text-align: center;
	position: relative;
	left: 33px;
	bottom: 20px;
	margin-bottom: 200px;
}
.incdesc3
{
	font-size: 11pt;
	text-align: center;
	position: relative;
	left: 48px;
	bottom: 20px;
}
.incdesc4
{
	font-size: 11pt;
	text-align: center;
	position: relative;
	left: 48px;
	bottom: 20px;
	margin-bottom: 200px;
}
.tabpad
{
	padding: 10pt;
	text-align: center;
	width: 285px;
}
.tabstyling
{
	background-color: #0F0F0F;
	color: #FFFFFF;
}
.book-btn2
{
	padding: 7pt;
	padding-left: 20pt;
	padding-right: 20pt;
	font-size: 12pt;
	text-align: center;
	background-color: #FFD400;
	color: #FFFFFF;
}
.tabspace
{
	table-layout: fixed;
	height: 65px;
	margin-bottom: 100px;
}
.primeheader1
{
	text-align: center;
	position: relative;
	top: 80px;
	left: 315px;
	font-size: 50pt;
	color: #0F0F0F;
}
.primeheader2
{
	text-align: center;
	position: relative;
	top: 80px;
	left: 315px;
	font-size: 23pt;
	color: #0F0F0F;
}
.src-btn
{
	background-color: #0F0F0F;
	padding: 8pt;
	padding-left: 30pt;
	padding-right: 30pt;
	font-size: 12pt;
	color: #FFFFFF;
	position: relative;
	right: 12px;
	top: 150px;
	margin-bottom: 100px;
}
.slc-header
{
	position: relative;
	left: 340px;
	top: 100px;
}
.indextoph
{
	text-align: center;
	margin-top: 350px;
	font-size: 18pt;
}
.indextophead
{
	text-align: center;
	font-size: 18pt;
}
.indextoptitle
{
	font-size: 16pt;
}
.indextophsell
{
	text-align: center;
	margin-top: 250px;
	font-size: 18pt;
}
.indextophs
{
	font-size: 10pt;
	margin-bottom: 100px;
}
.cat-btn
{
	height: 350px;
	width: 350px;
	padding: 20px;
	margin: 0px;
	border:  2px solid #C3C3C3;
}

.btn-trans1.btn-default {
  border: 1px solid #787878 !important;
  background-color: #FFFFFF !important;
  color: #000000 !important;
  width: 165px;
  height: 150px;
  padding-top: 60px;
}
.btn-trans2.btn-default {
  border: 1px solid #787878 !important;
  background-color: #FFFFFF !important;
  color: #000000 !important;
  width: 250px;
  height: 350px;
  padding-top: 60px;
  margin-top: 60px;
}
.btn-trans3.btn-default {
  border: 1px solid #787878 !important;
  background-color: #FFFFFF !important;
  color: #000000 !important;
  width: 250px;
  height: 250px;
  padding-top: 60px;
  margin-top: 60px;
}
.btn-trans4.btn-default {
  border: 1px solid #787878 !important;
  background-color: #FFFFFF !important;
  color: #000000 !important;
  width: 250px;
  height: 250px;
  padding-top: 60px;
  margin-top: 60px;
  position: relative;
  top: -30px;
}
.btn-trans5.btn-default {
  border: 1px solid #787878 !important;
  background-color: #FFFFFF !important;
  color: #000000 !important;
  width: 250px;
  height: 350px;
  padding-top: 60px;
  margin-top: 60px;
  position: relative;
  top: -130px;
}
.btn-dribbble {
  color: #ffffff !important;
  background-color: #ea4c89 !important;
}
.src-btn2
{
	background-color: #0F0F0F;
	padding: 8pt;
	padding-left: 30pt;
	padding-right: 30pt;
	font-size: 10pt;
	color: #FFFFFF;
}
.icon{
	list-style-type: none;
	margin-top: 5px;
}
.icon > li {
	display: inline;
	margin-right: 5px;
}
.icon > li : after {
	border-left: 1px solid;
}
.best-box1
{
	background-color: #B4B4B4;
	height: 200px;
	position: relative;
	top: 40px;
	right: 15px;
	margin-bottom: 25px;
}
.best-box2
{
	background-color: #B4B4B4;
	height: 610px;
	position: relative;
}
.indexh1
{
	font-size: 20pt;
	text-align: center;
}
.src-btn3
{
	background-color: #0F0F0F;
	padding: 10pt;
	padding-left: 30pt;
	padding-right: 30pt;
	font-size: 12pt;
	color: #FFFFFF;
	position: relative;
	left: 120px;
	bottom: 70px;
	margin-bottom: 100px;
}
.indexh2
{
	font-size: 20pt;
	text-align: center;
	margin-top: 200px;
}
.partners-box
{
	background-color: #B4B4B4;
	height: 200px;
	width: 260px;
	margin-bottom: 125px;
}
.payment-icon
{
	position: relative;
	bottom: 15px;
}
.socmed-icon
{
	position: relative;
	top: 5px;
}
.paglist
{
	position: relative;
	bottom: 140px;
	left: 465px;
}